/* Work Sans font from google font */
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Work+Sans:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Work+Sans:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Work+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Work+Sans:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Work+Sans:ital,wght@0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Work+Sans:ital,wght@0,900;1,900&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Work Sans font from google font */

header {
  background-color: #ffe5c6;

  padding-right: 240px;
  padding-left: 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  font-size: 45px;
}
nav li {
  font-size: 18px;
}
nav li {
  list-style: none;
  border: 1px solid black;
  text-align: center;
  padding: 3px;
  background-color: rgb(222, 234, 167);
}
nav > ul {
  display: flex;
  gap: 50px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.banner {
  text-align: center;
}
.banner h1 {
  font-size: 64px;
}
.banner p {
  font-size: 16px;
}
.banner img {
  margin-top: 50px;
  width: 100%;
}
.button {
  background-color: #ff900e;
  border: 0;
  border-radius: 8px;
  width: 180px;
  height: 64px;
  font-size: 20px;
}
.button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* responsive for header */
@media screen and (max-width: 576px) {
  header {
    padding-right: 40px;
    padding-left: 40px;
  }
  nav > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  nav h3 {
    font-size: 20px;
  }
  .banner h1 {
    font-size: 40px;
  }
  nav {
    align-items: flex-start;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding-right: 40px;
    padding-left: 40px;
  }
  nav > ul {
    gap: 25px;
  }
  nav h3 {
    font-size: 35px;
  }
  .banner h1 {
    font-size: 44px;
  }
}
/* main section start */

main {
  margin-top: 70px;
}
.teams-container {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  gap: 70px;
  margin-left: 250px;
  margin-right: 250px;
}
.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.teams-text h2 {
  font-size: 55px;
  
}
.teams-text p{
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.teams-container img{
  width: 100%;
}
@media screen and (max-width:576px) {
  .teams-container {
    gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
  }
  .teams-text p{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .teams-text{
    text-align: center;
  }

}
@media screen and (min-width:576px)and (max-width:992px) {
  .teams-container {
    gap: 10px;
    margin-left: 45px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
  }
  .teams-text p{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .teams-text{
    text-align: center;
  }

}

/* Features-container start */

.Features-container{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  margin-top: 80px;
  margin-left: 230px;
  margin-right: 230px;
}
.Features-container img{
  width: 100%;
}
.text-box{
  margin-top: 10px;
  border: 1px solid rgb(237, 237, 237);
  box-shadow: 10px 10px 10px rgb(227, 227, 227);
  padding: 5px;
  border-radius: 10px;
}
.Features-container p {
  font-size: 16px;
  color: rgb(156, 156, 156) ;
}
.Features-container h3 {
  font-size: 20px;
}
.ex{
  width: 342px;
  height: 200px;
  padding: 5px;
}
.Features-container h2 {
  font-size: 45px;
}
.ex1{
  font-size:65px ;
  
}
